<div class="selectTeam">
    <mat-form-field>
        <mat-select [(ngModel)]="battingTeam" (selectionChange)="checkTeams('batting')" placeholder="Batting Team">
            <mat-option *ngFor="let team of teams" [value]="team">
                {{ team }}
            </mat-option>
        </mat-select>
    </mat-form-field> v/s
    <mat-form-field>
        <mat-select [(ngModel)]="bowlingTeam" (selectionChange)="checkTeams()" placeholder="Bowling Team">
            <mat-option *ngFor="let team of teams" [value]="team">
                {{ team }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-card>
    <mat-form-field>
        <mat-select [(ngModel)]="player1.name" (selectionChange)="changePlayer('1')" placeholder="Batting Player 1">
            <mat-option *ngFor="let player of getBattingTeamPlayers()" [value]="player.name">
                {{ player.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-card-content>
        <mat-form-field>
            <input matInput [(ngModel)]="player1.batting.runs" placeholder='Runs'>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="player1.batting.fours" placeholder='Fours'>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="player1.batting.sixes" placeholder='Sixes'>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateBattingPoints(player1)">Update</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-form-field>
        <mat-select [(ngModel)]="player2.name" (selectionChange)="changePlayer('2')" placeholder="Batting Player 2">
            <mat-option *ngFor="let player of getBattingTeamPlayers()" [value]="player.name">
                {{ player.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-card-content>
        <mat-form-field>
            <input matInput [(ngModel)]="player2.batting.runs" placeholder='Runs'>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="player2.batting.fours" placeholder='Fours'>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="player2.batting.sixes" placeholder='Sixes'>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="updateBattingPoints(player2)">Update</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-form-field>
        <mat-select [(ngModel)]="player3.name" (selectionChange)="changePlayer('3')" placeholder="Bowler">
            <mat-option *ngFor="let player of getBowlingTeamPlayers()" [value]="player">
                {{ player.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-card-content>
        <mat-form-field>
            <input matInput [(ngModel)]="player3.bowling.wickets" (keyup)="updateBowlingPoints(player3)"
                placeholder='Wickets'>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateBowlingPoints(player3)">Update</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-form-field>
        <mat-select [(ngModel)]="player4.name" placeholder="Fielder">
            <mat-option *ngFor="let player of getBowlingTeamPlayers()" [value]="player">
                {{ player.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-card-content>
        <mat-form-field>
            <input matInput [(ngModel)]="player4.fielding.catches" (keyup)="updateFieldingPoints(player4)"
                placeholder='Catches'>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="player4.fielding.stumping" (keyup)="updateFieldingPoints(player4)"
                placeholder='Stumping'>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateFieldingPoints(player4)">Update</button>
    </mat-card-content>
</mat-card>

<div class="action">
    <button mat-raised-button color="primary" (click)="updatePoints()">Download Updated Ponits</button>
</div>