.mat-card {
  margin: 0px 35px;
}

.mat-form-field {
  margin: 10px;
}

.selectTeam {
  text-align: center;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.action {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
