<div class="point-button">
  <button mat-raised-button color="primary" (click)="displayPointSystem = true" *ngIf="!displayPointSystem">Points
    System</button>
  <button mat-raised-button color="primary" (click)="displayPointSystem = false" *ngIf="displayPointSystem">Team
    Details</button>
</div>
<div class="point-system" [hidden]="!displayPointSystem">
  <mat-list-item>
    <mat-hint>Batting</mat-hint>
  </mat-list-item>
  <mat-list class="subList" dense>
    <mat-list-item>0.5 points for every run scored</mat-list-item>
    <mat-list-item>Overall runs will be multiplied by (strike rate / 100)</mat-list-item>
    <mat-list-item>0.5 points bonus for every 4</mat-list-item>
    <mat-list-item>1 points bonus for every 6</mat-list-item>
    <mat-list-item>4 points bonus for 25 runs</mat-list-item>
    <mat-list-item>8 point bonus for 50 runs</mat-list-item>
  </mat-list>

  <mat-list-item>
    <mat-hint>Bowling</mat-hint>
  </mat-list-item>
  <mat-list class="subList" dense>
    <mat-list-item>6 points for every wicket (Except run out)</mat-list-item>
    <mat-list-item>4 points bonus for 3 wickets</mat-list-item>
    <mat-list-item>6 points bonus for 5 wickets</mat-list-item>
    <mat-list-item>10 points bonus for 7 wickets</mat-list-item>
  </mat-list>

  <mat-list-item>
    <mat-hint>Fielding</mat-hint>
  </mat-list-item>
  <mat-list class="subList" dense>
    <mat-list-item>1 point for every catch</mat-list-item>
    <mat-list-item>1 point for every stumping</mat-list-item>
  </mat-list>

  <mat-list-item>
    <mat-hint>Owner</mat-hint>
  </mat-list-item>
  <mat-list class="subList" dense>
    <mat-list-item>8 point bonus for winning league match</mat-list-item>
    <mat-list-item>15 point bonus for winning Finals</mat-list-item>
    <mat-list-item>8 point bonus for runner up in the tournament</mat-list-item>
  </mat-list>

  <mat-list-item>
    <mat-hint>Captain</mat-hint>
  </mat-list-item>
  <mat-list class="subList" dense>
    <mat-list-item>8 point bonus for winning league match</mat-list-item>
    <mat-list-item>15 point bonus for winning Finals</mat-list-item>
    <mat-list-item>8 point bonus for runner up in the tournament</mat-list-item>
  </mat-list>
</div>
<div class="my-team" [hidden]="displayPointSystem">
  <div class="sticky">
    <h1>Total Selected Players: {{ this.selection.selected.length }}</h1>
    <h1>Total Selected Players Cost : {{ totalSelectedCost }}</h1>
  </div>
  <form [formGroup]="teamForm">
    <mat-form-field>
      <mat-label>Your Team Name</mat-label>
      <input matInput required formControlName="teamName" type="text" placeholder="Enter Your Team Name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Your Name</mat-label>
      <input matInput required type="text" formControlName="yourName" placeholder="Enter Your Team Name">
    </mat-form-field>

    <mat-label style="color: red">*You can select Owner and Captain from different teams</mat-label>
    <mat-form-field>
      <mat-label>Select Team Owner</mat-label>
      <mat-select placeholder="Select Owner" required formControlName="owner">
        <mat-option *ngFor="let owner of owners" [value]="owner">
          {{ owner.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Team Captain</mat-label>
      <mat-select placeholder="Select Captain" required formControlName="captain">
        <mat-option *ngFor="let captain of captains" [value]="captain">
          {{captain.name}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-label style="color: red">*You need to have minimum 15 players, minimum 3 women and do it under 30 crores
    </mat-label>
    <mat-form-field>
      <mat-label>Search player by name or team</mat-label>
      <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Search Player">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)"
              (change)="$event ? selection.toggle(row) : null; updateCost($event, row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="team">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.team}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cost (in crores) </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cost | number : '1.2-2'}} Cr </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
    </div>

    <div class="action">
      <button mat-raised-button color="primary" (click)="submit()">Submit Team</button>
    </div>
  </form>
</div>