.action {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.download-button {
  margin: 10px;
}

.leftPanel {
  float: left;
  width: 50%;
}

.rightPanel {
  float: right;
  width: 50%;
}

.title {
  width: 100%;
}

.point-button {
  text-align: center;
}

.center-align {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: chocolate;
}

.element-detail {
  width: 100% !important;
  overflow: hidden;
}

@media (max-width: 600px) {
  .content {
    margin: 0px 10px;
    text-align: center;
  }

  .mat-card-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
  }

  .title {
    margin-left: 10px;
    width: 90%;
  }

  .leftPanel {
    float: none;
    width: 100%;
  }

  .rightPanel {
    float: none;
    width: 100%;
  }

  .displayButton {
    margin-bottom: 25px;
    width: 10px;
    height: 10px;
    padding: 0px !important;
  }

  .point-button {
    margin-bottom: 20px;
  }
}
